workflows-coraje.json
[{"updatedAt":"2026-05-22T14:18:42.588Z","createdAt":"2026-05-22T13:53:40.623Z","id":"Tjm2tDCE8YqKHFoL","name":"MASTER - 00 - Orquestador Carga Histórica ELT","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"e3585dfe-83e0-47d8-8156-a705fda14d24","name":"When clicking ‘Execute workflow’"},{"parameters":{"workflowId":{"__rl":true,"value":"XKjSggnh1zwHD8WU","mode":"list","cachedResultUrl":"/workflow/XKjSggnh1zwHD8WU","cachedResultName":"Call WORKER - 01 - Extracción Tipos Requerimiento"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[224,0],"name":"Call Call WORKER - 01 - Extracción Tipos Requerimiento","id":"bcd81e31-5b5c-44d7-ba1d-1c0837e24626"},{"parameters":{"workflowId":{"__rl":true,"value":"qnrg1r5Ex0FrExdH","mode":"list"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1120,0],"name":"Call WORKER - 05 - Extracción Tickets","id":"5daa15c8-55d3-473b-8492-d6f33c6c4be2"},{"parameters":{"workflowId":{"__rl":true,"value":"pvpP4OeX2H0wlUuj","mode":"list"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[448,0],"name":"Call WORKER - 02 - Extracción Áreas","id":"dbcf4958-c34f-4739-982d-382f1c546184"},{"parameters":{"workflowId":{"__rl":true,"value":"qb8WyXux7mYm9yeY","mode":"list","cachedResultUrl":"/workflow/qb8WyXux7mYm9yeY","cachedResultName":"WORKER - 02 - Extracción Áreas"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[672,0],"name":"WORKER - 03 - Extracción Clientes1","id":"6646ccaf-52e6-4741-b841-44538b530153"},{"parameters":{"workflowId":{"__rl":true,"value":"9MjSGqTJbMH8eEKI","mode":"list","cachedResultUrl":"/workflow/9MjSGqTJbMH8eEKI","cachedResultName":"WORKER - 03 - Extracción Clientes"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[896,0],"name":"Call WORKER - 04 - Extracción Personal1","id":"31529ac6-d2ee-4e26-a732-e0a78fa8f575"}],"connections":{"Call Call WORKER - 01 - Extracción Tipos Requerimiento":{"main":[[{"node":"Call WORKER - 02 - Extracción Áreas","type":"main","index":0}]]},"Call WORKER - 02 - Extracción Áreas":{"main":[[{"node":"WORKER - 03 - Extracción Clientes1","type":"main","index":0}]]},"WORKER - 03 - Extracción Clientes1":{"main":[[{"node":"Call WORKER - 04 - Extracción Personal1","type":"main","index":0}]]},"Call WORKER - 04 - Extracción Personal1":{"main":[[{"node":"Call WORKER - 05 - Extracción Tickets","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Call Call WORKER - 01 - Extracción Tipos Requerimiento","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":null,"pinData":{},"versionId":"ce7f38b0-ded1-48eb-bfdd-b901a8cfaa9c","activeVersionId":null,"versionCounter":13,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-05-22T13:53:40.624Z","createdAt":"2026-05-22T13:53:40.624Z","role":"workflow:owner","workflowId":"Tjm2tDCE8YqKHFoL","projectId":"BdCsju7e4CQKPDth","project":{"updatedAt":"2026-05-22T13:34:20.292Z","createdAt":"2026-05-22T13:33:50.954Z","id":"BdCsju7e4CQKPDth","name":"Daniel Lopera <daniellopera@rbcol.co>","type":"personal","icon":null,"description":null,"creatorId":"5bc67329-e42a-4844-913f-96c67b8cec9a"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-05-22T14:10:04.352Z","createdAt":"2026-05-22T14:10:04.352Z","id":"XKjSggnh1zwHD8WU","name":"Call WORKER - 01 - Extracción Tipos Requerimiento","description":null,"active":true,"isArchived":false,"nodes":[{"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[16,-128],"id":"a69b4872-759a-4820-a870-2ba6f7a55e6c","name":"HTTP Request TipoReqHD","disabled":false,"parameters":{"curlImport":"","method":"GET","url":"https://n8n.rbgct.cloud/webhook/extraer-datos?nombre_lista=TipoReqHD","authentication":"none","provideSslCertificates":false,"sendQuery":false,"sendHeaders":false,"sendBody":false,"options":{},"infoMessage":""},"issues":{}},{"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[224,-128],"id":"94998756-52ab-4f5b-99ee-757b5bcc7289","name":"Split Out TipoReqHD","disabled":false,"parameters":{"fieldToSplitOut":"value","include":"noOtherFields","options":{}},"issues":{}},{"type":"n8n-nodes-base.postgres","parameters":{"resource":"database","operation":"executeQuery","query":"INSERT INTO staging.sp_tipo_req_hd_raw (sp_id, payload, extracted_at)\nVALUES ($1, $2::jsonb, NOW())\nON CONFLICT (sp_id)\nDO UPDATE SET\n    payload = EXCLUDED.payload,\n    extracted_at = NOW();","options":{"queryReplacement":"={{ [ $json.Id || $json.ID, JSON.stringify($json) ] }}"}},"typeVersion":2.6,"position":[432,-128],"id":"38f5372a-3206-490f-ac8b-41923ca246bb","name":"Execute a SQL query","disabled":false,"issues":{},"credentials":{"postgres":{"id":"RhzSlwntHnL1gY3y","name":"Postgres account"}}},{"id":"bcf3c762-a2f8-4c7a-bfbe-f97c3b119b85","typeVersion":1.1,"name":"Start","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-192,-128],"parameters":{"inputSource":"passthrough"}}],"connections":{"HTTP Request TipoReqHD":{"main":[[{"node":"Split Out TipoReqHD","type":"main","index":0}]]},"Split Out TipoReqHD":{"main":[[{"node":"Execute a SQL query","type":"main","index":0}]]},"Start":{"main":[[{"node":"HTTP Request TipoReqHD","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"6ec034e0-ddd8-4aaa-bb42-e90ae1e8d004","activeVersionId":"6ec034e0-ddd8-4aaa-bb42-e90ae1e8d004","versionCounter":15,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-05-22T14:10:04.355Z","createdAt":"2026-05-22T14:10:04.355Z","role":"workflow:owner","workflowId":"XKjSggnh1zwHD8WU","projectId":"BdCsju7e4CQKPDth","project":{"updatedAt":"2026-05-22T13:34:20.292Z","createdAt":"2026-05-22T13:33:50.954Z","id":"BdCsju7e4CQKPDth","name":"Daniel Lopera <daniellopera@rbcol.co>","type":"personal","icon":null,"description":null,"creatorId":"5bc67329-e42a-4844-913f-96c67b8cec9a"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-05-22T14:11:22.017Z","createdAt":"2026-05-22T14:11:22.017Z","id":"qb8WyXux7mYm9yeY","name":"WORKER - 02 - Extracción Áreas","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"curlImport":"","method":"GET","url":"https://n8n.rbgct.cloud/webhook/extraer-datos?nombre_lista=Clientes Contai","authentication":"none","provideSslCertificates":false,"sendQuery":false,"sendHeaders":false,"sendBody":false,"options":{},"infoMessage":""},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[352,-64],"id":"d3010be0-5bb0-4c69-a395-1f035b067ea0","name":"HTTP Request Clientes Contai","disabled":false},{"parameters":{"fieldToSplitOut":"value","include":"noOtherFields","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[560,-64],"id":"ceca5d2c-9033-4905-803c-903ff0cce2fe","name":"Split Out Clientes Contai","disabled":false},{"parameters":{"resource":"database","operation":"executeQuery","query":"INSERT INTO staging.sp_clientes_contai_raw (sp_id, payload, extracted_at)\nVALUES ($1, $2::jsonb, NOW())\nON CONFLICT (sp_id)\nDO UPDATE SET\n    payload = EXCLUDED.payload,\n    extracted_at = NOW();","options":{"queryReplacement":"={{ [ $json.Id || $json.ID, JSON.stringify($json) ] }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[768,-64],"id":"f60f4c51-e0dc-4670-85b2-10e319c334f9","name":"Execute a SQL query Clientes Contai","credentials":{"postgres":{"id":"RhzSlwntHnL1gY3y","name":"Postgres account"}},"disabled":false,"issues":{}},{"id":"2a3b0062-543e-4826-9029-78e0cbb06a3d","typeVersion":1.1,"name":"Start","type":"n8n-nodes-base.executeWorkflowTrigger","position":[144,-64],"parameters":{"inputSource":"passthrough"}}],"connections":{"HTTP Request Clientes Contai":{"main":[[{"node":"Split Out Clientes Contai","type":"main","index":0}]]},"Split Out Clientes Contai":{"main":[[{"node":"Execute a SQL query Clientes Contai","type":"main","index":0}]]},"Start":{"main":[[{"node":"HTTP Request Clientes Contai","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"ffa74eae-5d55-49ae-a263-4e1f5b431970","activeVersionId":"ffa74eae-5d55-49ae-a263-4e1f5b431970","versionCounter":15,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-05-22T14:11:22.019Z","createdAt":"2026-05-22T14:11:22.019Z","role":"workflow:owner","workflowId":"qb8WyXux7mYm9yeY","projectId":"BdCsju7e4CQKPDth","project":{"updatedAt":"2026-05-22T13:34:20.292Z","createdAt":"2026-05-22T13:33:50.954Z","id":"BdCsju7e4CQKPDth","name":"Daniel Lopera <daniellopera@rbcol.co>","type":"personal","icon":null,"description":null,"creatorId":"5bc67329-e42a-4844-913f-96c67b8cec9a"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-05-22T14:12:00.765Z","createdAt":"2026-05-22T14:12:00.765Z","id":"9MjSGqTJbMH8eEKI","name":"WORKER - 03 - Extracción Clientes","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"curlImport":"","method":"GET","url":"https://n8n.rbgct.cloud/webhook/extraer-datos?nombre_lista=Personal GCT","authentication":"none","provideSslCertificates":false,"sendQuery":false,"sendHeaders":false,"sendBody":false,"options":{},"infoMessage":""},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[416,160],"id":"143feb5d-0780-4d13-99ee-417921db19e8","name":"HTTP Request Personal GCT","disabled":false},{"parameters":{"fieldToSplitOut":"value","include":"noOtherFields","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[624,160],"id":"faeb3851-ed74-4c43-bc7d-1b60eb63aa28","name":"Split Out Personal GCT","disabled":false},{"parameters":{"resource":"database","operation":"executeQuery","query":"INSERT INTO staging.sp_personal_gct_raw (sp_id, payload, extracted_at)\nVALUES ($1, $2::jsonb, NOW())\nON CONFLICT (sp_id)\nDO UPDATE SET\n    payload = EXCLUDED.payload,\n    extracted_at = NOW();","options":{"queryReplacement":"={{ [ $json.Id || $json.ID, JSON.stringify($json) ] }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[832,160],"id":"af3d42b8-9117-4d15-8fa2-0bf58494e8d8","name":"Execute a SQL query Personal GCT","credentials":{"postgres":{"id":"RhzSlwntHnL1gY3y","name":"Postgres account"}},"disabled":false,"issues":{}},{"id":"875e47ca-0f24-4f84-b9ea-3cf22ebfa66a","typeVersion":1.1,"name":"Start","type":"n8n-nodes-base.executeWorkflowTrigger","position":[208,160],"parameters":{"inputSource":"passthrough"}}],"connections":{"HTTP Request Personal GCT":{"main":[[{"node":"Split Out Personal GCT","type":"main","index":0}]]},"Split Out Personal GCT":{"main":[[{"node":"Execute a SQL query Personal GCT","type":"main","index":0}]]},"Start":{"main":[[{"node":"HTTP Request Personal GCT","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"e70e3cf8-e5d6-4824-b4b1-12caa59381aa","activeVersionId":"e70e3cf8-e5d6-4824-b4b1-12caa59381aa","versionCounter":15,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-05-22T14:12:00.767Z","createdAt":"2026-05-22T14:12:00.767Z","role":"workflow:owner","workflowId":"9MjSGqTJbMH8eEKI","projectId":"BdCsju7e4CQKPDth","project":{"updatedAt":"2026-05-22T13:34:20.292Z","createdAt":"2026-05-22T13:33:50.954Z","id":"BdCsju7e4CQKPDth","name":"Daniel Lopera <daniellopera@rbcol.co>","type":"personal","icon":null,"description":null,"creatorId":"5bc67329-e42a-4844-913f-96c67b8cec9a"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-05-22T14:14:31.780Z","createdAt":"2026-05-22T14:14:31.780Z","id":"qnrg1r5Ex0FrExdH","name":"WORKER - 05 - Extracción Tickets","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"curlImport":"","method":"GET","url":"https://n8n.rbgct.cloud/webhook/extraer-datos?nombre_lista=HelpDeskBd","authentication":"none","provideSslCertificates":false,"sendQuery":false,"sendHeaders":false,"sendBody":false,"options":{},"infoMessage":""},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-208,384],"id":"1214b4fe-5aa0-4acb-9e8c-1e9f1ba619c3","name":"HTTP Request HelpDeskBd","disabled":false},{"parameters":{"fieldToSplitOut":"value","include":"noOtherFields","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[0,384],"id":"dd25aa6d-ff24-4d68-bdda-f6cd2adb9123","name":"Split Out HelpDeskBd","disabled":false},{"parameters":{"resource":"database","operation":"executeQuery","query":"INSERT INTO staging.sp_helpdesk_raw  (sp_id, payload, extracted_at)\nVALUES ($1, $2::jsonb, NOW())\nON CONFLICT (sp_id)\nDO UPDATE SET\n    payload = EXCLUDED.payload,\n    extracted_at = NOW();","options":{"queryReplacement":"={{ [ $json.Id || $json.ID, JSON.stringify($json) ] }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[208,384],"id":"c2e37630-6c2f-42a9-ad53-2420ae0213fd","name":"Execute a SQL query HelpDeskBd","disabled":false,"issues":{},"credentials":{"postgres":{"id":"RhzSlwntHnL1gY3y","name":"Postgres account"}}},{"id":"c80f4142-ffc5-40ad-8f7a-ebe88c16fa9e","typeVersion":1.1,"name":"Start","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-416,384],"parameters":{"inputSource":"passthrough"}}],"connections":{"HTTP Request HelpDeskBd":{"main":[[{"node":"Split Out HelpDeskBd","type":"main","index":0}]]},"Split Out HelpDeskBd":{"main":[[{"node":"Execute a SQL query HelpDeskBd","type":"main","index":0}]]},"Start":{"main":[[{"node":"HTTP Request HelpDeskBd","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"379e52d1-0302-49d3-bbee-148df39458d6","activeVersionId":"379e52d1-0302-49d3-bbee-148df39458d6","versionCounter":15,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-05-22T14:14:31.782Z","createdAt":"2026-05-22T14:14:31.782Z","role":"workflow:owner","workflowId":"qnrg1r5Ex0FrExdH","projectId":"BdCsju7e4CQKPDth","project":{"updatedAt":"2026-05-22T13:34:20.292Z","createdAt":"2026-05-22T13:33:50.954Z","id":"BdCsju7e4CQKPDth","name":"Daniel Lopera <daniellopera@rbcol.co>","type":"personal","icon":null,"description":null,"creatorId":"5bc67329-e42a-4844-913f-96c67b8cec9a"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-05-22T14:16:37.988Z","createdAt":"2026-05-22T14:16:37.988Z","id":"pvpP4OeX2H0wlUuj","name":"WORKER - 02 - Extracción Áreas","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"curlImport":"","method":"GET","url":"https://n8n.rbgct.cloud/webhook/extraer-datos?nombre_lista=RecibeHelpdesk","authentication":"none","provideSslCertificates":false,"sendQuery":false,"sendHeaders":false,"sendBody":false,"options":{},"infoMessage":""},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[688,432],"id":"e9c068c0-6711-41e8-abcd-f862631b5412","name":"HTTP Request RecibeHelpdesk","disabled":false},{"parameters":{"fieldToSplitOut":"value","include":"noOtherFields","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[896,432],"id":"c458dcdd-7adf-4a6a-810c-5e4ec232ac3c","name":"Split Out RecibeHelpdesk","disabled":false},{"parameters":{"resource":"database","operation":"executeQuery","query":"INSERT INTO staging.sp_recibe_helpdesk_raw (sp_id, payload, extracted_at)\nVALUES ($1, $2::jsonb, NOW())\nON CONFLICT (sp_id)\nDO UPDATE SET\n    payload = EXCLUDED.payload,\n    extracted_at = NOW();","options":{"queryReplacement":"={{ [ $json.Id || $json.ID, JSON.stringify($json) ] }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1104,432],"id":"66be6425-879e-45b0-9298-c403c4053c27","name":"Execute a SQL query RecibeHelpdesk","credentials":{"postgres":{"id":"RhzSlwntHnL1gY3y","name":"Postgres account"}},"disabled":false,"issues":{}},{"id":"042a7dfd-0699-4898-990a-c9cccbcc8f22","typeVersion":1.1,"name":"Start","type":"n8n-nodes-base.executeWorkflowTrigger","position":[480,432],"parameters":{"inputSource":"passthrough"}}],"connections":{"HTTP Request RecibeHelpdesk":{"main":[[{"node":"Split Out RecibeHelpdesk","type":"main","index":0}]]},"Split Out RecibeHelpdesk":{"main":[[{"node":"Execute a SQL query RecibeHelpdesk","type":"main","index":0}]]},"Start":{"main":[[{"node":"HTTP Request RecibeHelpdesk","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"fb3e25e4-477a-4479-aac7-661895450f9e","activeVersionId":"fb3e25e4-477a-4479-aac7-661895450f9e","versionCounter":15,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-05-22T14:16:37.992Z","createdAt":"2026-05-22T14:16:37.992Z","role":"workflow:owner","workflowId":"pvpP4OeX2H0wlUuj","projectId":"BdCsju7e4CQKPDth","project":{"updatedAt":"2026-05-22T13:34:20.292Z","createdAt":"2026-05-22T13:33:50.954Z","id":"BdCsju7e4CQKPDth","name":"Daniel Lopera <daniellopera@rbcol.co>","type":"personal","icon":null,"description":null,"creatorId":"5bc67329-e42a-4844-913f-96c67b8cec9a"}}],"versionMetadata":{"name":null,"description":null}}]